<div class="wheel-segment-body">

  <div class="square">
    <div class="welcome-message">
      <p class="message">Having trouble entertaining yourself ? </p>

    </div>
    <button class="spin" (click)="turnTheWheel()">Spin Now</button>
    <div id="wheel-body" class="wheel-body">
      <div id="wheel" class="wheel">
        <div class="section1">
          <span class="span1"><b>Go for a run</b></span>
          <span class="span2"><b>Cook something</b></span>
          <span class="span3"><b>Exercise</b></span>
          <span class="span4"><b>Read a books</b></span>
        </div>
        <div class="section2">
          <span class="span1"><b>Plan a day trip</b></span>
          <span class="span2"><b>Call a friend</b></span>
          <span class="span3"><b>Play video games</b></span>
          <span class="span4"><b>Check the news</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
